<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원조회</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        table, th, td {
            border: 1px solid #bcbcbc;
        }
        table {
            width: 600px;
            height: 200px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 200px;
        }
        tr, td {
            text-align: center;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<table>
    <tr>
        <th>id</th>
        <td th:text="${member.id}"></td>
    </tr>
    <tr>
        <th>email</th>
        <td th:text="${member.memberEmail}"></td>
    </tr>
    <tr>
        <th>password</th>
        <td th:text="${member.memberPassword}"></td>
    </tr>
    <tr>
        <th>name</th>
        <td th:text="${member.memberName}"></td>
    </tr>
    <tr>
        <th>phone</th>
        <td th:text="${member.memberMobile}"></td>
    </tr>
</table>
</body>
</html>